.container {
    font-family: Arial, Helvetica, sans-serif;
    width: 650px;
}
.head {
    display: grid;
    grid-template-columns: 200px 100px 100px 100px 100px;
    grid-template-rows: 10px 10px 10px 50px 50px;
    background-color: rgb(152, 196, 240);
}
.body{
    display: grid;
    grid-template-columns: 200px 100px 100px 100px 100px;
    grid-template-rows: 50px 50px 50px 50px 50px;
    text-align: center;
    background-color: rgb(208, 211, 211);
    padding: 10px;
    text-align: left;
    padding: 10px;
    
 
}
.buttons{
    display: grid;
    grid-template-columns: 200px 100px 100px 100px 100px;
    grid-template-rows: 100px 60px 60px 60px 60px;
    padding: 20px;
}
.one {
    text-align: left;
    padding: 10px;
}


